body{
font-family: Arial, Helvetica, sans-serif;
}
h2{
align-content: center;
}

section {
float: left;
width: 20;
height: 20;
}
.images2 > figure > figcaption{
    margin-left: 80px;
}
#section1{
position: absolute;
left: 1%;


}
.vl {
border-left: 1px solid gray;
height: 1600px;
}

#section2 {
position: absolute;
left: 20%;
width: 800px;
}
#section3 {
position: absolute;
left: 19%;
}
figure > img{
width:200px;
height:250px;
float: left;
margin-left: 40px;
margin-top: 70px;
}
.images
{

margin-left: 40px;

}
#image3{
margin-bottom: 500px ;
}
.images2
{

margin-left: 40px;
}
.recherche
{
    margin-left: -10px;
    padding-top: 15px;
}
.img
{
    padding: 10px 10px;
}
.input-group
{
    width: 850px;
}

.navbar-inverse
{
    background-color: #232F3E;
    
}

.show > .customButton:focus{
background: #232F3E !important ;
  box-shadow:none !important;
  border: none !important;

}
.customButton{
  box-shadow:none !important;
  border: none !important;
}
