#page {
    font-family: "Amazon Ember",Arial,sans-serif;
    padding-top: 35px;
}


#pres{
    margin-top: 70%;
    width: 200px;
}
#pres > figure > img {
    width: 650px;
    height: 650px;
    position: absolute;
    top: 20%;

}
#pres > figure > figcaption {
  position: absolute;
  left: 40%;
  top: 15%;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 12px;
  margin-top: 45px;


}
#pres figure > figcaption > h3 {
  font-weight: normal;
  font-size: 18px;
}
#description {
    position: absolute;
    left: 40%;
    top: 25%;
    width: 680px;
    margin-top: 50px;
}
#prixinit {
    text-decoration: line-through;
}
#prixpromo {
    font-size: 19px;
    color: #ec1111;
}
#achats-choix {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    position: absolute;
    right: 1%;
    top: 30%;
    display: inline-block;
    height: 300px;
    padding-top: 10px;
}
#achats-choix hr{
  width: 180px;
}
#cadeau{
    font-weight: normal;
    margin-top: 5px;
}
#listes{
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
    height: 30px;
    background-color: rgb(223, 226, 232);
    border-radius: 4px; 
}
#offres h4{
  color: rgb(204, 102, 0);
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;  
}
#offres ul{
  margin-left: 20px;
}
#article-suivant figure img{
  width: 100px;
  height: 100px;
}
#commnentaire-client{
  width: 200px;
  height: 800px;
}

#commentaire-client h3{
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;
}
#commentaire-client h4{
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;
  margin-top: 50px;
}
#commentaire-client p{
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;

}
#commentaire-client li{
  list-style-type: none;
}
#commentaire-client hr {
  width: 300px;
  position: absolute;
  left: 2%;
}
#commentaire-client .boutons{
  margin-left: 20px;
  width: 300px;
  height: 35px;
  border-radius: 4px; 
}
#affich-comm{
  position: absolute;
  left: 30%;
  bottom: -420%;
  height: 900px;
}
#affich-comm h5{
  font-weight: bold;
}
#affich-comm .bouton-comm{
  width: 100px;
  height: 30px;
  border-radius: 4px; 
}
#affich-comm .boutons{
  margin-left: 20px;
  width: 300px;
  height: 35px;
  border-radius: 4px; 
}
#affich-comm hr{
  border:         none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         2vh;
  width:          1px; 
}
#choix-eval{
    width: 150px;
    height: 20px;
    background-color: rgb(223, 226, 232);
    border-radius: 4px;
}
#check-achat{
  color: rgb(204, 102, 0);
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
}
.details h4{
  color: rgb(204, 102, 0);
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;
}
.details ul{
  margin-left: 20px;
}
.detailsBis li{
  list-style-type: none;
}
.detailsBis h4{
  color: rgb(204, 102, 0);
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;
}

.questions{
  font-family: "Amazon Ember",Arial,sans-serif;
  margin-left: 20px;
  margin-bottom: 40px;
}
.questions h4{
  font-weight: bold;
  font-family: "Amazon Ember",Arial,sans-serif;
}

.questions .form-control{
  width: 1000px;
  margin-top: 15px;
  font-family: "Amazon Ember",Arial,sans-serif;
}

#achats-choix .boutons{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
    background-color: rgb(242, 202, 102);
    border-radius: 4px; 
}
.separation hr {
  width: 1480px;
}
.recherche
{
    margin-left: -10px;
    padding-top: 15px;
}
.img
{
    padding: 10px 10px;
}

.input-group
{
    width: 850px;
}

.navbar-inverse
{
    background-color: rgb(35, 47, 62);
}
.show > .customButton:focus{
    background:rgb(35, 47, 62) !important ;
    box-shadow:none !important;
    border: none !important;

}
.customButton{
box-shadow:none !important;
border: none !important;
}
.gras{
    font-weight: bold;
}
.vitrine{
  height: 300px;
  width: 1600px;
}
.vitrine figure img{
  width: 250px;
  height: 250px;
  float: left;
}
.vitrine figure figcaption{
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 12px;
  padding-right: 20px;
}
.vitrine h4{
  margin-left: 20px;
  color: rgb(204, 102, 0) ;
  font-weight: bold;
}
.historique-ventes{
  height: 300px;
  width: 1600px;
  margin-left: 20px;
  margin-top: 70px;
}
.historique-ventes figure img{
  width: 250px;
  height: 250px;
  float: left;
}
.historique-ventes h4{
  margin-left: 20px;
  font-weight: bold;
}
.histo{
  height: 200px;
  width: 1600px;
  margin-left: 20px;
}
.histo figure img{
  width: 150px;
  height: 150px;
  float: left;
}
.histo h4{
  margin-left: 20px;
  font-weight: bold;
}
.commentaires{
  height:700px;
}
header{
    background-color: rgb(35, 47, 62);
}
.footerHautbout
{
    background: #475769 !important ;
}

footer 
{
    background-color: #232F3E;

}
footer a
{
    color: #FFF;  
}
footer span
{
    color: #FFF;  
}
footer
{
    padding: 20px 20px;
}
h4 {
  font-weight: normal;
}
