.recherche
{
    margin-left: -10px;
    padding-top: 15px;
}
.img
{
    padding: 10px 10px;
}
.input-group
{
    width: 850px; 
}

.navbar-inverse
{
    background-color: #232F3E;
    
}

.show > .customButton:focus{
background: #232F3E !important ;
  box-shadow:none !important;
  border: none !important;

}
.customButton{
  box-shadow:none !important;
  border: none !important;
}

.carousel-inner img {
  margin: auto;  
}
.containerr
{
    margin-bottom: 55px;
}

.footerHaut
{
  background: #475769 !important ; 
}

footer 
{
    background-color: #232F3E;
   
}
footer a
{
   color: #FFF;  
}
footer span
{
   color: #FFF;  
}
footer
{
    padding: 20px 20px;
}




